


body{
    background: linear-gradient(#2b1055,#7597de);
    min-height: 100vh;
}

<!--Header--->
header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center 
}

header.logo{
    color: white;
    font-weight : 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    display: inline-block;
    margin-left:20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color:white;
    border-radius: 25px
}

header ul li a:hover,.active{
    bacground: white;
    color:#2b1055;

}
